@import url('@fontsource/ubuntu/300.css');
@import url('@fontsource/ubuntu/400.css');
@import url('@fontsource/ubuntu/500.css');
@import url('@fontsource/ubuntu/700.css');

body {
  font-family: Ubuntu, Roboto, Arial, sans-serif;
}

#app-root{
  height: 100%;

  .ant-layout{
    height: 100%;
  }
}
