.mainPage{
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;


  h1{
    font-family: Ubuntu,Roboto,Arial,sans-serif;

    font-size: 50px;
    color: #fff;
  }

  &__links{
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;
    vertical-align: middle;


    button{
      border-radius: 15px 0 0 15px;

      display: flex;
      justify-content: center;

      align-items: center;

      background-color: #fff;
      transform: skew(-20deg);
      font-size: 22px;
      padding: 20px 30px;

      color: #000;

      background-color: #fff;

      &:first-child{
        border-radius: 15px 0 0 10px;

        margin-right: 10px;
      }
      &:last-child{
        border-radius: 0 10px 15px 0;
      }

      &:hover{
        color: #000 !important;

        background-color: #E6E6E6;
      }
    }
  }

}
